html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.8em;
  // background: $body-bg;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  // font-family: $font;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "pretendard";
  // font-family: $font;
  // padding-right: 0px !important;
  //   letter-spacing: 1px;
}

// .gray-bg{
//   background-color: $body-bg;
// }

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    // background-color: #000;
  }

  100% {
    opacity: 1;
  }
}

.container-fluid {
  max-width: 1440px;
  padding: 0;
  // max-width: 100%;
  // padding: 0 80px;

  // padding: 0;
  // max-width: 1280px;
  @media(max-width: 1440px) {
    // padding: 0 80px;
    padding: 0;
    max-width: 1280px;
  }
}

// Header 
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  will-change: transform;
  transition: transform .5s cubic-bezier(.694, .048, .335, 1), background .3s;
  transform: translateY(0);
  -webkit-transform: translateY(0);

  .header-inner-wrapper {
    padding: 25px 0;
    transition: all 0.5s cubic-bezier(0.47, 0.71, 0.66, 0.84);

    .header-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .left-logo-box {
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 21px;
          font-style: normal;
          font-weight: 700;
          line-height: 28.089px;
          text-decoration: none;
          color: $black;

          img {
            margin-right: 10px;
            max-width: 25px;
          }
        }
      }

      .middle-menu-box {
        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0 10px;

            a {
              text-decoration: none;
              color: rgba(0, 0, 0, 0.80);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              padding: 5px 0;
              // position: relative;
              // border-radius: 15px 0;
              // overflow: hidden;
              // z-index: 1;

              // Style 
              position: relative;
              display: block;
              transition: .5s;
              z-index: 1;

              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top: 2px solid $theme-color;
                border-bottom: 2px solid $theme-color;
                transform: scaleY(2);
                opacity: 0;
                transition: .3s;
              }

              &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: $theme-color;
                transform: scale(0);
                opacity: 0;
                transition: .3s;
                z-index: -1;
              }

              &:hover {
                // color: #fff;
                color: $theme-color;

                &:before {
                  transform: scaleY(1);
                  opacity: 1;
                }

                &:after {
                  transform: scaleY(1);
                  opacity: 1;
                }
              }


              // Style 
            }
          }
        }
      }

      .right-sign-up-box {
        a {
          display: block;
          // padding: 18px 20px;
          padding: 17px 19px;
          border-radius: 8px;
          border: 1px solid $theme-color;
          // background-color: $theme-color;
          color: $white;
          text-align: center;
          font-weight: 500;
          line-height: normal;
          font-style: normal;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          position: relative;
          z-index: 1;
          overflow: hidden;

          &::before {
            background-color: $theme-color;
            z-index: -1;
            position: absolute;
            // top: 0;
            right: 0;
            bottom: 0;
            content: "";
            width: 110%;
            height: 110%;
            transition: 0.3s ease-in-out;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }

          &:hover {
            color: $theme-color;

            &::before {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
  }

  .scrolled {
    background-color: $white;
    // background-color: $white;
    // background: linear-gradient(180deg, rgba(65, 130, 255, 0.20) 0%, rgba(65, 130, 255, 0.00) 100%);
    box-shadow: 0 -4px 16px 4px rgba(0, 0, 0, .24);
    padding: 8px 0;

    // max-width: 1280px;
    .header-inner {
      // backdrop-filter: blur(8px);
      // -webkit-backdrop-filter: blur(8px);
      // transform: translateY(8px);
      // border-radius: 48px;
      // max-width: 1280px;
      // background-color: hsla(0, 0%, 100%, .2);
      // background-color: $white;
      // border-color: var(--c-grey);
      // box-shadow: 0 -4px 16px 4px rgba(0, 0, 0, .24);
      // margin: 0 auto;
      // transition: transform .5s cubic-bezier(.694, .048, .335, 1);
      // transition: all 0.5s;
    }
  }
}

// Header 

// Top Banner Box 
.home-top-content-box {
  padding-top: 200px;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 325px;
    content: "";
    background: linear-gradient(180deg, rgba(65, 130, 255, 0.20) 0%, rgba(65, 130, 255, 0.00) 100%);
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
  }

  .home-top-container {
    // padding-left: 80px;
    max-width: 1440px;
    // max-width: 1280px;
    margin: 0 auto;
    // max-width: 1360px;

    // max-width: 1280px;
    // margin-left: auto;
    // margin-right: auto;
    @media(max-width: 1440px) {
      max-width: 1360;
      padding-left: 80px;
    }

    .home-top-content-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-content-box {
        h1 {
          color: $black;
          font-size: 52px;
          font-style: normal;
          font-weight: 700;
          line-height: 72px;
          margin-bottom: 0px;

          span {
            border-radius: 8px;
            background: rgba(148, 247, 23, 0.50);
            padding: 0 7px;
          }
        }

        p {
          margin-top: 20px;
          color: rgba(0, 0, 0, 0.80);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 40px;

          span {
            font-weight: 600;
          }
        }

        .link-wrapper {
          display: flex;
          flex-direction: row;
          gap: 15px;
          margin-bottom: 114px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            border-radius: 8px;
            text-decoration: none;
            transition: 0.3s ease-in-out;

            span {
              transition: 0.3s ease-in-out;
            }

            &:first-child {
              color: $white;
              background-color: $theme-color;
              padding: 14px 30px;
              border: 1px solid $theme-color;

              &:hover {
                background-color: transparent;
                color: $theme-color;

                span {
                  transform: translateX(12px);
                }
              }
            }

            &:last-child {
              border: 1px solid #23282f;
              color: #23282f;
              padding: 14px 30px;

              &:hover {
                background-color: $theme-color;
                border-color: $theme-color;
                color: $white;
              }
            }
          }
        }

        .counter-section {
          .counter-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;

            .counter-box {
              &:first-child {
                min-width: 124px;
              }

              h2 {
                color: $black;
                font-size: 52px;
                font-style: normal;
                font-weight: 600;
                line-height: 62px;
                margin-bottom: 0;
              }

              p {
                margin-top: 0;
                margin-bottom: 0;
                color: rgba(0, 0, 0, 0.80);
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
              }
            }
          }
        }
      }

      .right-image-box-wrapper {
        .right-image-box-inner {
          .image-box {
            img {
              width: 100%;
              margin-top: -84px;
            }
          }
        }
      }
    }
  }
}

// Top Banner Box 

// Why Box Section 
.why-box-wrapper {
  background-color: #23282f;
  padding: 100px 0 74px 0;

  .why-box-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 88px;

    .left-box {
      width: 650px;

      h2 {
        color: $white;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 62px;
        margin-bottom: 73px;

        span {
          color: $theme-secondary-color;
        }
      }

      .note-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 6px;

        .star-image {
          margin-top: -4px;

          img {
            width: 8px;
            height: 7px;
          }
        }

        p {
          margin-bottom: 0;
          color: rgba(255, 255, 255, 0.80);
          font-weight: 400;
          font-style: normal;
          line-height: 26px;
          // padding-left: 6px;
        }
      }
    }

    .right-box {
      width: 542px;

      .accrodion-box-wrapper {
        .accordion {
          .accordion-item {
            margin-bottom: 15px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.05);
            border: none;
            padding: 20px;

            .accordion-header {
              background-color: transparent;

              button {
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
                color: $white;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                padding: 0;
              }
            }

            .accordion-body {
              padding: 0;
              padding-top: 20px;

              p {
                margin-bottom: 0;
                color: rgba(255, 255, 255, 0.60);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
              }
            }

            .accordion-button:not(.collapsed)::after {
              background-image: url(../assets/images/minus.png);
              transform: unset;
            }

            .accordion-button::after {
              background-image: url(../assets/images/plus.png);
              transform: unset;
            }
          }
        }
      }
    }
  }
}

// Why Box Section 

// Billing Section 
.billing-section-outer {
  padding: 100px 0 150px 0;

  .billing-section-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 76px;

    .left-section {
      width: 522px;

      .left-bill-inner-section {
        border-radius: 18px;
        background: linear-gradient(180deg, #9CCAF0 0%, #F5F6F8 100%);
        padding-top: 33px;
        overflow: hidden;

        .top-bill-section {
          padding: 0 38px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 32px;
          margin-bottom: 6px;

          .bill-box {
            position: relative;
            z-index: 1;
            padding: 12px 16px 48.5px 12px;

            .unit-box {
              display: flex;
              flex-direction: row;
              gap: 6px;
              justify-content: center;
              align-items: center;
              padding: 6px 10px;
              background: rgba(0, 0, 0, 0.05);
              border-radius: 4px;
              max-width: 67px;
              margin-bottom: 15px;

              img {
                width: 16px;
                height: 16px;
              }

              p {
                margin-bottom: 0;
                color: rgba(0, 0, 0, 0.60);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
              }
            }

            .electricity-billed-box {
              display: flex;
              flex-direction: row;
              gap: 15px;
              max-height: 41px;

              .left-image-box {
                .image-box {
                  border-radius: 6px;
                  background-color: #23282f;
                  padding: 7px;
                  width: 39px;
                  height: 39px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                    width: 25px;
                    height: 25px;
                  }
                }
              }

              .right-billed-box {
                p {
                  margin-bottom: 0;
                  color: rgba(0, 0, 0, 0.60);
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                }
              }
            }

            .bill-count-box {
              margin-top: 15px;
              border-radius: 8px;
              background: rgba(20, 94, 238, 0.10);
              padding: 10px;

              h4 {
                margin-bottom: 0;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px;
              }
            }

            .bg-image {
              img {
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                z-index: -1;
              }
            }

            &:first-child {
              .right-billed-box {
                p {
                  .span1 {
                    font-size: 16px;
                    color: #EE1414;
                  }

                  .span2 {
                    font-size: 16px;
                    color: $black;
                  }
                }
              }

              .bill-count-box {
                color: #EE1414;
              }
            }

            &:last-child {
              .right-billed-box {
                p {
                  .span1 {
                    font-size: 16px;
                    color: #1492EE;
                  }

                  .span2 {
                    font-size: 16px;
                    color: $black;
                  }
                }
              }

              .bill-count-box {
                color: #1492EE;
              }
            }
          }

        }

        .bottom-building-box {
          .bottom-building-inner {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .image-wrapper {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .right-section {
      width: 682px;

      h2 {
        color: $black;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 62px;
        margin-bottom: 28px;

        span {
          border-radius: 8px;
          background: rgba(196, 229, 15, 0.50);
          padding: 0 8px;
        }
      }

      h5 {
        color: $black;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 21px;

        span {
          text-decoration: underline;
        }
      }

      p {
        margin-bottom: 50px;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }

      h6 {
        margin-bottom: 0;
        color: $black;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;

        span {
          color: #1492EE;
        }
      }
    }
  }
}

// Billing Section 

// Who wr are Section 
.who-we-are-section {
  margin-bottom: 100px;

  .who-we-are-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .left-box {
      width: 522px;

      h6 {
        color: rgba(0, 0, 0, 0.60);
        margin-bottom: 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 4.32px;
        position: relative;
        padding-left: 62px;
        margin-bottom: 21px;

        &::before {
          position: absolute;
          left: 0;
          top: 13px;
          content: "";
          width: 52px;
          height: 1px;
          background-color: $black;
        }
      }

      h2 {
        color: $black;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 59px;
        margin-bottom: 20px;
      }

      p {
        color: rgba(0, 0, 0, 0.80);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;
      }

      .last-p {
        margin-bottom: 0;

        span {
          text-decoration: underline;
        }
      }

      .link-wrapper {
        margin-top: 45px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          text-align: center;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          border-radius: 8px;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          max-width: 181px;

          span {
            transition: 0.3s ease-in-out;
          }

          &:first-child {
            color: $white;
            background-color: $theme-color;
            padding: 14px 25px;
            border: 1px solid $theme-color;

            &:hover {
              background-color: transparent;
              color: $theme-color;

              span {
                transform: translateX(12px);
              }
            }
          }

        }
      }
    }

    .right-box {
      width: 718px;
      border-radius: 18px;
      border: 1px solid #ddd;
      background-color: #f5f6f8;
      padding: 49px;
      position: relative;

      .transparency-outer-box {
        .transparency-inner-box {
          .top-transparency-box {
            margin-bottom: 32px;
            z-index: 1;
            position: relative;

            .inner-box {
              border-radius: 12px;
              border: 1px solid #DDD;
              background: #FFF;
              box-shadow: 15px 15px 60px 0px rgba(0, 0, 0, 0.05);
              padding: 14px 50px 16px 15px;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;
              max-width: 226px;
              margin-left: auto;
              margin-right: auto;

              .image-box {
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                padding: 12px;
                border-radius: 4px;
                border: 1px solid #ddd;
                background: #F5F6F8;

                img {}

              }

              h5 {
                margin-bottom: 0;
                font-family: $font-inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 34px;
              }
            }
          }

          .center-button-box {
            .ripple-button {
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              // new Style 
              .wrapper {}

              .video-main {

                // position: relative;
                // display: inline-block;
                // z-index: 1;
                .promo-video {
                  position: relative;
                  z-index: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 181px;
                  height: 181px;

                  .waves-block {
                    display: flex;
                    // flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }

              .video {

                // height: 50px;
                // width: 50px;
                // line-height: 50px;
                // text-align: center;
                // border-radius: 100%;
                // background: transparent;
                // color: #fff;
                // display: inline-block;
                // background: #000000;
                // z-index: 999;
                img {
                  width: 81px;
                  height: 81px;
                }
              }

              @keyframes waves {
                0% {
                  -webkit-transform: scale(0.2, 0.2);
                  transform: scale(0.2, 0.2);
                  opacity: 0;
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                }

                50% {
                  // opacity: 0.9;
                  opacity: 1;
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
                }

                100% {
                  -webkit-transform: scale(0.9, 0.9);
                  transform: scale(0.9, 0.9);
                  opacity: 0;
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                }
              }

              .fa-play:before {
                content: "\f04b";
              }

              .waves {
                position: absolute;
                width: 181px;
                height: 181px;
                // background: rgba(0, 0, 0, 0.3);
                background-color: rgba(35, 40, 47, 0.10);
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                border-radius: 100%;
                // left: 0;
                // top: 0;
                // transform: translate(-50%, -50%);
                // right: -50px;
                // bottom: -50px;
                z-index: -1;
                -webkit-animation: waves 3s ease-in-out infinite;
                animation: waves 3s ease-in-out infinite;
              }

              .wave-1 {
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
              }

              .wave-2 {
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
              }

              .wave-3 {
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
              }

              // new Style 

              // .ripple-inner {
              //   img {
              //     border-radius: 50%;
              //   }
              // }
            }
          }

          .bottom-fairness-relaibility-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
            margin-top: 24px;
            z-index: 1;
            position: relative;

            .fairness-box {
              border-radius: 12px;
              border: 1px solid #DDD;
              background: #FFF;
              box-shadow: 15px 15px 60px 0px rgba(0, 0, 0, 0.05);
              padding: 14px 50px 16px 15px;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;

              .image-box {
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                padding: 12px;
                border-radius: 4px;
                border: 1px solid #ddd;
                background: #F5F6F8;

                .img {}
              }

              h5 {
                margin-bottom: 0;
                font-family: $font-inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 34px;
              }
            }

            .relaibility-box {
              border-radius: 12px;
              border: 1px solid #DDD;
              background: #FFF;
              box-shadow: 15px 15px 60px 0px rgba(0, 0, 0, 0.05);
              padding: 14px 50px 16px 15px;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;

              .image-box {
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                padding: 12px;
                border-radius: 4px;
                border: 1px solid #ddd;
                background: #F5F6F8;

                .img {}
              }

              h5 {
                margin-bottom: 0;
                font-family: $font-inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 34px;
              }
            }
          }
        }
      }

      // Animation Box 
      .center-animation-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 360px);
        height: calc(100% - 180px);
        // background-color: $black;
        // z-index: -1;
        // border: 2px solid #ddd;
        border-radius: 5px;
        overflow: hidden;

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          width: 100%;
          height: 100%;
          border: 2px solid #ddd;
          z-index: -1;
        }
      }

      .animated-border-box,
      .animated-border-box-glow {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 0;
        /* Border Radius */
        // border-radius: 10px;
      }

      .animated-border-box-glow {
        overflow: hidden;
        /* Glow Blur */
        filter: blur(20px);
      }

      .animated-border-box:before,
      .animated-border-box-glow:before {
        content: '';
        z-index: -2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        position: absolute;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-position: 0 0;
        /*border color, change middle color*/
        // background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 15%);
        background-image: conic-gradient(rgba(0, 0, 0, 0), #4182ff, rgba(0, 0, 0, 0) 10%);

        /* change speed here */
        animation: rotate 10s linear infinite;
      }

      .animated-border-box:after {
        content: '';
        position: absolute;
        z-index: -1;
        /* border width */
        // left: 5px;
        // top: 5px;
        /* double the px from the border width left */
        // width: calc(100% - 10px);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        left: 2px;
        top: 2px;
        // transform: translate(-50%, -50%);
        // height: calc(100% - 10px);
        // height: calc(100% - 2px);
        /*bg color*/
        /* background: #292a2e; */
        // background-color: #fff;
        background-color: #f5f6f8;
        // background-color: black;
        /*box border radius*/
        border-radius: 5px;
      }

      @keyframes rotate {
        100% {
          transform: translate(-50%, -50%) rotate(-1turn);
        }
      }

      // Animation Box 
    }
  }
}

// Who wr are Section 

// Fusion Section 
.fusion-section {
  position: relative;
  z-index: 1;
  background: #23282F;
  padding: 150px 0 144px 0;
  margin-bottom: 100px;

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 46.3%;
    height: 100%;
    content: "";
    background: #2E333A;
    z-index: -1;
  }

  .fusion-inner {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;

    @media(max-width: 1440px) {
      gap: 108px;
    }

    .left-section {
      p {
        color: rgba(255, 255, 255, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 4.32px;
        padding-left: 61px;
        position: relative;
        margin-bottom: 20px;

        &::before {
          position: absolute;
          left: 0;
          top: 13px;
          height: 1px;
          content: "";
          width: 52px;
          background-color: $white;
        }
      }

      h2 {
        color: $white;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 59px;
        margin-bottom: 0;
      }
    }

    .right-section {
      padding-left: 50px;

      p {
        color: rgba(255, 255, 255, 0.80);
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;
      }

      .last-para {
        margin-bottom: 0;

        span {
          color: #C4E50F;
        }
      }
    }
  }

  .bottom-block-image {
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

// Fusion Section 

// Key Services Section 
.key-services-section {
  margin-bottom: 80px;

  .key-services-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .left-section {
      width: 624px;

      .left-inner {
        position: relative;
        border-radius: 18px;
        background: lightgray 0px -238.108px / 100% 168.287% no-repeat;

        .image-box {
          img {
            width: 100%;
          }
        }

        .up-text-wrapper {
          border-radius: 12px;
          border: 1px solid #DDD;
          background: #23282F;
          box-shadow: 15px 15px 60px 0px rgba(0, 0, 0, 0.10);
          padding: 29px 50px 27px 30px;
          position: absolute;
          left: -30px;
          bottom: 30px;

          h2 {
            color: $white;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 49px;
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.80);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;

            span {
              color: $white;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .right-section {
      width: 616px;

      .right-inner {
        .key-services-box {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .key-box {
            border-radius: 8px;
            border: 1px solid #ddd;
            background-color: $white;
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 19px 20px 19px 20px;
            transition: 0.3s ease-in-out;

            .left-icon-box {
              width: 32px;
              height: 32px;
              padding: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              border: 1px solid #ddd;
              background-color: #f5f6f8;
              transition: 0.3s ease-in-out;

              svg {
                // fill: black;
                color: #000;
                transition: 0.3s ease-in-out;
              }
            }

            .right-content-box {
              h4 {
                color: $black;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                margin-bottom: 20px;
              }

              p {
                margin-bottom: 0;
                color: rgba(0, 0, 0, 0.60);
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
              }
            }

            &:hover {
              background-color: #f5f6f8;

              .left-icon-box {
                background-color: #1482ff;
                border-color: #1482ff;

                svg {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Key Services Section 

// Benifits Member Section 
.benifits-member-section {
  padding: 100px 0;
  background: linear-gradient(180deg, rgba(65, 130, 255, 0.00) 0%, rgba(65, 130, 255, 0.12) 100%);

  .benifits-member-inner {
    padding-bottom: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 107px;

    .left-section {
      width: 577px;

      h2 {
        color: $black;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 0;

        span {
          background: rgba(196, 229, 15, 0.50);
          border-radius: 8px;
          padding: 0 7px;
        }
      }
    }

    .right-section {
      width: 596px;

      p {
        color: rgba(0, 0, 0, 0.80);
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;
      }

      .last-para {
        margin-bottom: 0;
      }
    }
  }

  .benifits-inner-box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .benifits-box {
      border-radius: 18px;
      border: 1px solid #ddd;
      background-color: $white;
      padding: 30px 27px;
      transition: 0.3s ease-in-out;

      .top-icon-content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
        margin-bottom: 35px;

        .icon-box {
          width: 43px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8.447px 8.446px 8.446px 8.447px;
          border-radius: 6.143px;
          border: 0.768px solid #DDD;
          background: #F5F6F8;
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }
        }

        .title-content {
          h4 {
            margin-bottom: 0;
            color: #4182FF;
            font-style: normal;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
          }
        }
      }

      .content-box {
        p {
          font-weight: 400;
          line-height: 26px;
          margin-bottom: 26px;
          br{
            @media(max-width: 1440px){
              display: none;
            }
          }

          span {
            color: rgba(0, 0, 0, 0.90);
            font-weight: 500;
          }
        }

        .last-para {
          margin-bottom: 0;
        }
      }

      &:hover {
        background: #F5F6F8;

        .top-icon-content-box {
          .icon-box {
            background: #4182FF;
            border-color: #1482ff;

            svg {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

// Benifits Member Section 

// Success Stories Section 
.success-stories-section {
  padding: 130px 0 60px 0;
  background-color: $white;

  .success-stories-inner {
    .success-stories-container {
      // padding-left: 80px;
      position: relative;
      z-index: 1;
      // max-width: 1440px;
      // margin-left: auto;
      // margin-right: auto;

      .success-stories-top-title-wrapper {
        margin-bottom: 61px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        @media(max-width: 1440px){
          padding: 0 80px;
        }

        h2 {
          color: $black;
          font-family: $font-inter;
          font-size: 46px;
          font-style: normal;
          font-weight: 600;
          line-height: 56px;
          margin-bottom: 0;
        }
      }

      .success-stories-slider-wrapper {
        padding-left: 12%;
        @media(max-width: 1440px){
          padding-left: 80px;
        }

        .success-stories-slider {
          .item {
            .item-inner {
              border-radius: 18px;
              border: 1px solid #ddd;
              background-color: $white;
              transition: 0.3s ease-in-out;
              padding: 30px;

              .quote-box {
                margin-bottom: 20px;

                img {
                  width: 30px;
                }
              }

              .title-box {
                margin-bottom: 20px;

                h4 {
                  color: $black;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 34px;
                  margin-bottom: 0;
                  min-height: 68px;
                }
              }

              .paragraph-content {
                margin-bottom: 24px;
                min-height: 78px;

                p {
                  color: rgba(0, 0, 0, 0.80);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  margin-bottom: 0;
                }
              }

              .user-designation-box {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .user-image {
                  img {
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                }

                .designation-content {
                  h6 {
                    color: $black;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 4px;
                  }

                  p {
                    color: rgba(0, 0, 0, 0.60);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 0;
                  }
                }
              }

              &:hover {
                background-color: #f5f6f8;
              }
            }
          }

          .owl-nav {
            margin-top: 0;

            button {
              margin: 0;
              padding: 19px;
              border-radius: 8px;
              border: 1px solid #ddd;
              background: $white;
              width: 62px;
              height: 62px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease-in-out;

              span {
                font-size: 24px;
                color: $black;
                transition: 0.3s ease-in-out;
              }

              &:hover {
                background-color: #4182ff;

                span {
                  color: $white;
                }
              }
            }

            .owl-prev {
              position: absolute;
              right: 157px;
              top: -120px;
            }

            .owl-next {
              position: absolute;
              right: 80px;
              top: -120px;
            }

            // .disabled{
            //   opacity: 1;
            //   background-color: $white;
            //   span{
            //     color: $black;
            //   }
            // }
          }
        }
      }
    }
  }
}

// Success Stories Section 

// Management Issues Section 
.management-issues-section {
  padding: 100px 0;
  position: relative;
  z-index: 1;

  .management-issues-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 147px;

    .left-section {
      width: 558px;

      h2 {
        color: $black;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 20px;
      }

      h4 {
        color: $black;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 20px;
      }

      p {
        color: rgba(0, 0, 0, 0.80);
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 40px;
      }

      .link-wrapper {
        a {
          display: inline-flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background-color: #4182ff;
          text-decoration: none;
          color: $white;
          font-weight: 500;
          line-height: 26px;
          border: 1px solid #4182FF;
          transition: 0.3s ease-in-out;

          span {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            background-color: transparent;
            color: $theme-color;

            span {
              transform: translateX(12px);
            }
          }
        }
      }
    }

    .right-section {
      width: 575px;

      .management-issues-inner-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .issues-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
          border-radius: 12px;
          border: 1px solid #ddd;
          background-color: $white;
          padding: 20px 32px 20px 17px;
          transition: 0.3s ease-in-out;

          .icon-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #ddd;
            background-color: $white;
            transition: 0.3s ease-in-out;

            svg {
              transition: 0.3s ease-in-out;
            }
          }

          .content-box {
            p {
              margin-bottom: 0;
            }
          }

          &:hover {
            background-color: #f5f6f8;
          }
        }
      }
    }
  }

  .issues-box {
    img {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}

// Management Issues Section 

// Footer 
.footer-section {
  background: #23282F;
  padding-top: 51px;

  .footer-inner {
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;

    .left-logo-box {
      margin-right: 86px;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 28.089px;
        text-decoration: none;
        color: $white;

        img {
          margin-right: 10px;
          max-width: 25px;
        }
      }
    }

    .foote-details {
      margin-right: 172px;

      .title {
        h4 {
          color: rgba(255, 255, 255, 0.80);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28.089px;
          margin-bottom: 17px;
        }
      }

      .footer-address {
        p {
          color: rgba(255, 255, 255, 0.60);
          font-style: normal;
          font-weight: 400;
          line-height: 28.089px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.60);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .last-para {
          margin-bottom: 0;
        }
      }
    }

    .footer-link {
      .title {
        height: 37.09px;
        h4 {}
      }

      .footer-right-address {
        p {
          color: rgba(255, 255, 255, 0.60);
          font-style: normal;
          font-weight: 400;
          line-height: 28.089px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.60);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .last-para {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-copyright{
    background: #2E333A;
    padding: 22px 0;
    p{
      text-align: center;
      margin-bottom: 0;
      color: $white;
      font-weight: 500;
      line-height: 26px;
    }
  }
}

// Footer 