// Membership Top Section 
.membership-top-section-wrapepr {
    background-color: #F5F6F8;
    padding-top: 146px;
    padding-bottom: 60px;

    .membership-top-section-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left-section {
            .title-wrapper {
                margin-bottom: 20px;

                h2 {
                    color: $black;
                    font-size: 52px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 62px;
                    margin-bottom: 0;

                    span {
                        border-radius: 8px;
                        background: rgba(148, 247, 23, 0.50);
                        padding: 0 7px;

                        @media(max-width: 991px) {
                            margin-right: 3px;
                            padding: 0 6px;
                        }
                    }
                }
            }

            .content-para {
                margin-bottom: 40px;

                p {
                    margin-bottom: 0;
                    color: rgba(0, 0, 0, 0.80);
                    font-weight: 400;
                    line-height: 26px;

                    @media(min-width: 1920px) {
                        font-size: 18px;
                    }
                }
            }

            .link-wrapper {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    border-radius: 8px;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;
                    max-width: 181px;

                    @media(max-width: 991px) {
                        padding: 10px 30px;
                    }

                    @media(max-width: 575px) {
                        max-width: 100%;
                    }

                    span {
                        transition: 0.3s ease-in-out;
                    }

                    &:first-child {
                        color: $white;
                        background-color: $theme-color;
                        padding: 14px 25px;
                        border: 1px solid $theme-color;

                        &:hover {
                            background-color: transparent;
                            color: $theme-color;

                            span {
                                transform: translateX(12px);
                            }
                        }
                    }

                }
            }
        }

        .right-section {
            .right-section-inner {
                position: relative;
                z-index: 1;

                .image-wrapper {
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        max-width: 522px;
                    }
                }

                .transparency-finance-box-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-width: 222px;
                    position: absolute;
                    bottom: 26px;
                    left: -111px;

                    .box-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 12.38px;
                        padding: 12.379px 105.628px 14.03px 12.379px;
                        border-radius: 9.903px;
                        border: 0.825px solid #DDD;
                        background: #FFF;
                        box-shadow: 12.379px 12.379px 49.517px 0px rgba(0, 0, 0, 0.05);

                        .left-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                            border-radius: 3.301px;
                            border: 0.825px solid #DDD;
                            background: #F5F6F8;

                            svg {
                                width: 19px;
                                color: $black;
                            }
                        }

                        .right-content {
                            h5 {
                                margin-bottom: 0;
                                color: $black;
                                font-size: 19px;
                                font-weight: 500;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Membership Top Section 

// Benifits Member Section 
.membership-page-benifits-section {
    padding: 100px 0;
    background-color: #23282F;

    @media(max-width: 991px) {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .benifits-member-inner {
        padding-bottom: 62px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 107px;

        @media(max-width: 1350px) {
            gap: 70px;
        }

        @media(max-width: 991px) {
            flex-direction: column;
            gap: 22px;
            padding-bottom: 60px;
        }

        .left-section {
            width: 577px;

            @media(max-width: 1350px) {
                width: 100%;
            }


            h2 {
                color: $white;
                font-size: 46px;
                font-style: normal;
                font-weight: 700;
                line-height: 56px;
                margin-bottom: 0;

                @media(max-width: 1350px) {
                    font-size: 42px;
                    line-height: 54px;
                }

                @media(max-width: 1199px) {
                    font-size: 32px;
                    line-height: 42px;
                }

                @media(max-width: 991px) {
                    font-size: 27px;
                    // font-weight: 600;
                    line-height: 38px;
                }

                span {
                    // background: rgba(196, 229, 15, 0.50);
                    // border-radius: 8px;
                    // padding: 0 7px;
                    color: #C4E50F;
                }
            }
        }

        .right-section {
            width: 596px;

            @media(max-width: 1350px) {
                width: 100%;
            }

            p {
                color: rgba(255, 255, 255, 0.80);
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 20px;

                @media(min-width: 1920px) {
                    font-size: 18px;
                }

                @media(max-width: 991px) {
                    margin-bottom: 22px;
                }
            }

            .last-para {
                margin-bottom: 0;
            }
        }
    }

    .benifits-inner-box-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media(max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .benifits-box {
            border-radius: 18px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background-color: rgba(255, 255, 255, 0.05);
            padding: 30px 27px;
            transition: 0.3s ease-in-out;

            @media(max-width: 1440px) {
                padding: 29px 26px;
            }

            @media(max-width: 991px) {
                padding: 20px 18px;
            }

            .top-icon-content-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 35px;
                margin-bottom: 35px;

                @media(max-width: 991px) {
                    gap: 15px;
                    margin-bottom: 20px;
                }

                .icon-box {
                    width: 43px;
                    height: 43px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8.447px 8.446px 8.446px 8.447px;
                    border-radius: 6.143px;
                    border: 0.768px solid #DDD;
                    background: #F5F6F8;
                    transition: 0.3s ease-in-out;

                    svg {
                        transition: 0.3s ease-in-out;

                        @media(max-width: 991px) {
                            width: 26px;
                        }
                    }
                }

                .title-content {
                    h4 {
                        margin-bottom: 0;
                        color: $white;
                        font-style: normal;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;

                        @media(max-width: 991px) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .content-box {
                p {
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 26px;
                    color: rgba(255, 255, 255, 0.60);

                    @media(min-width: 1920px) {
                        font-size: 18px;
                    }

                    @media(max-width: 991px) {
                        margin-bottom: 20px;
                    }

                    br {
                        @media(max-width: 1440px) {
                            display: none;
                        }
                    }

                    span {
                        color: rgba(255, 255, 255, 0.90);
                        font-weight: 500;

                        @media(max-width: 575px) {
                            font-weight: 600;
                        }
                    }
                }

                .last-para {
                    margin-bottom: 0;
                }
            }

            // &:hover {
            //     background: #F5F6F8;

            //     .top-icon-content-box {
            //         .icon-box {
            //             background: #4182FF;
            //             border-color: #1482ff;

            //             svg {
            //                 color: #fff;
            //             }
            //         }
            //     }
            // }
        }
    }
}

// Benifits Member Section 


// Membership Form Section 
.membership-section-wrapper{
    background-color: #F5F6F8;
    padding: 100px 0;
    .membership-section-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        .membershi-left{
            min-width: 433px;
            .title-wrapper{
                margin-bottom: 20px;
                h2{
                    margin-bottom: 0;
                    color: $black;
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 56px;
                }
            }
            .content-para{
                margin-bottom: 40px;
                p{
                    color: rgba(0, 0, 0, 0.80);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 0;
                    @media(min-width: 1920px){
                        font-size: 18px;
                    }
                }
            }
            .membership-price-wrapepr{
                padding: 20px;
                border-radius: 12px;
                border: 1px solid #ddd;
                background-color: $white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .left-section{
                    h5{
                        margin-bottom: 0;
                        border-radius: 6px;
                        border: 1px solid #ddd;
                        background-color: #F5F6F8;
                        padding: 5px 10px;
                        color: $black;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 30px;
                    }
                }
                .right-section{
                    h2{
                        font-size: 28px;
                        color: $black;
                        font-weight: 500;
                        line-height: 36px;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        .middle-line{
                            text-decoration: line-through;
                        }
                        .year{
                            font-size: 24px;
                            color: rgba(0, 0, 0, 0.60);
                        }
                    }
                }
            }
        }
        .membership-right{
            min-width: 734px;
        }
    }
}
// Membership Form Section 

















// Success Stories Section 
.membership-page-success-stories-section {
    padding: 106px 0 150px 0;
    background-color: $white;

    @media(max-width: 991px) {
        padding: 70px 0 70px 0;
    }

    .success-stories-inner {
        .success-stories-container {
            // padding-left: 80px;
            position: relative;
            z-index: 1;
            // max-width: 1440px;
            // margin-left: auto;
            // margin-right: auto;

            .success-stories-top-title-wrapper {
                margin-bottom: 61px;
                max-width: 1440px;
                margin-left: auto;
                margin-right: auto;

                @media(max-width: 1440px) {
                    padding: 0 80px;
                }

                @media(max-width: 1399px) {
                    padding: 0 20px;
                }

                @media(max-width: 991px) {
                    margin-bottom: 0;
                    // padding-bottom: 20px;
                }

                h2 {
                    color: $black;
                    // font-family: $font-inter;
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 56px;
                    margin-bottom: 0;

                    @media(max-width: 1350px) {
                        font-size: 42px;
                        line-height: 54px;
                    }

                    @media(max-width: 1199px) {
                        font-size: 32px;
                        line-height: 42px;
                    }

                    @media(max-width: 991px) {
                        font-size: 28px;
                        line-height: 38px;
                    }
                }
            }

            .success-stories-slider-wrapper {
                padding-left: 12%;

                @media(max-width: 1440px) {
                    padding-left: 80px;
                }

                @media(max-width: 1399px) {
                    padding-left: 20px;
                }

                @media(max-width: 991px) {
                    padding-top: 94px;
                }

                @media(max-width: 766px) {
                    padding: 94px 20px 0 20px;
                }

                .success-stories-slider {
                    .item {
                        .item-inner {
                            border-radius: 18px;
                            border: 1px solid #ddd;
                            background-color: $white;
                            transition: 0.3s ease-in-out;
                            padding: 30px;

                            @media(max-width: 1440px) {
                                padding: 29px 30px;
                            }

                            @media(max-width: 991px) {
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }

                            @media(max-width: 575px) {
                                min-height: 376px;
                                background: #F5F6F8;
                            }

                            .quote-box {
                                margin-bottom: 20px;

                                img {
                                    width: 30px;
                                }
                            }

                            .title-box {
                                margin-bottom: 20px;

                                h4 {
                                    color: $black;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 34px;
                                    margin-bottom: 0;
                                    min-height: 68px;

                                    @media(max-width: 991px) {
                                        font-size: 18px;
                                        line-height: 28px;
                                    }

                                    @media(max-width: 766px) {
                                        min-height: unset;
                                    }

                                    @media(max-width: 575px) {
                                        font-weight: 600;
                                    }
                                }
                            }

                            .paragraph-content {
                                margin-bottom: 24px;
                                min-height: 78px;

                                @media(max-width: 991px) {
                                    margin-bottom: 50px;
                                }

                                @media(max-width: 766px) {
                                    min-height: unset;
                                }

                                p {
                                    color: rgba(0, 0, 0, 0.80);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 26px;
                                    margin-bottom: 0;

                                    @media(min-width: 1920px) {
                                        font-size: 18px;
                                    }
                                }
                            }

                            .user-designation-box {
                                display: flex;
                                flex-direction: row;
                                gap: 20px;

                                .user-image {
                                    img {
                                        width: 58px;
                                        height: 58px;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }

                                .designation-content {
                                    h6 {
                                        color: $black;
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 28px;
                                        margin-bottom: 4px;
                                    }

                                    p {
                                        color: rgba(0, 0, 0, 0.60);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 26px;
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #f5f6f8;
                            }
                        }
                    }

                    .owl-nav {
                        margin-top: 0;

                        button {
                            margin: 0;
                            padding: 19px;
                            border-radius: 8px;
                            border: 1px solid #ddd;
                            background: $white;
                            width: 62px;
                            height: 62px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.3s ease-in-out;

                            @media(max-width: 1199px) {
                                padding: 12px;
                                width: 44px;
                                height: 44px;
                            }

                            span {
                                font-size: 24px;
                                color: $black;
                                transition: 0.3s ease-in-out;
                            }

                            &:hover {
                                background-color: #4182ff;

                                span {
                                    color: $white;
                                }
                            }
                        }

                        .owl-prev {
                            position: absolute;
                            right: 157px;
                            top: -120px;

                            @media(max-width: 1399px) {
                                right: 92px;
                            }

                            @media(max-width: 1199px) {
                                top: -104px;
                                right: 74px;
                            }

                            @media(max-width: 991px) {
                                top: -74px;
                                left: 0;
                            }
                        }

                        .owl-next {
                            position: absolute;
                            right: 80px;
                            top: -120px;

                            @media(max-width: 1399px) {
                                right: 20px;
                            }

                            @media(max-width: 1199px) {
                                top: -104px;
                            }

                            @media(max-width: 991px) {
                                top: -74px;
                                left: 54px;
                            }
                        }

                        // .disabled{
                        //   opacity: 1;
                        //   background-color: $white;
                        //   span{
                        //     color: $black;
                        //   }
                        // }
                    }
                }
            }
        }
    }
}

// Success Stories Section 